<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= order.name %></h1>
    <h2><%= order.date %></h2>

    <h2>Products</h2>
    <ul>
        <% order.products.forEach(product => { %>
         <li><%= product.name %> &nbsp; <%= product.price %> &nbsp; <%= product.category %> &nbsp; <%= product.codes %>(<%= product.quantity %>)</li>
        <% }) %>
    </ul>

    <a href="/order/<%= order._id %>/product/new">Add Product</a>
</body>
</html>